@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.container {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.icon {
    font-family: 'Bungee', cursive;
    font-size: 128px;
    color: var(--primary-icon);
    text-align: center;
}

.content {
    margin: 1rem 0;
}

.content h2 {
    text-align: center;
    font-weight: 400;
    line-height: 32px;
}

h2 span {
    font-weight: 700;
}

.btn__create {
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width:768px) {
    .container {
        width: 350px;
        margin-top: 1.5rem;
    }
    
}