@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.container {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.icon {
    font-family: 'Bungee', cursive;
    font-size: 128px;
    color: var(--primary-icon);
    text-align: center;
}

.content {
    margin: 1rem 0;
}

.content h2 {
    text-align: center;
    font-weight: 400;
    line-height: 32px;
}

h2 span {
    font-weight: 700;
}

.btn__create {
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.selected {
    border-radius: 20px;
    border: 1.5px solid var(--input-border);
}


/* Modal */

.modal__header {
    text-align: center;
    width:85%;
    margin: 3rem auto;
}

.modal__header h2 {
    font-weight: 700;
}

.modal__header h4 {
    font-weight: 400;
    margin-top: 1rem;
}

.modal__body {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.modal__body h2 {
    font-weight: 500;
}

.modal__body input {
    width: 100%;
    padding: 15px;
    background: var(--input-color); 
    border: solid 1.5px var(--input-border);
    cursor: pointer;
    border-radius: 30px;
    margin-top: 1rem;
}

.selection__of__colors {
    display: flex;
    justify-content: space-between;
}

.selection__of__colors li {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid var(--primary-white);
    cursor: pointer;
    margin: auto;
}

/* .selected {
    border-radius: 20px;
    border: 1.5px solid var(--input-border);
} */


.modal__footer {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto;
}

.avatar {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 25px;
}

.avatar h2 {
    font-size: 25px;
    font-weight: 600;
    padding: 3px;
    text-transform: uppercase;
    color: var(--primary-white);
}


.btn__view {
    font-size: 20px;
    font-weight: 700;
    padding: 0 2rem;
    background-color: var(--btn-color);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width:768px) {
    .container {
        width: 350px;
        margin-top: 1.5rem;
    }
    
}