html {
    box-sizing: border-box;
    width: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
  }
  
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .btn,
  button,
  button:focus,
  input:focus,
  textarea:focus,
  select,
  select:focus,
  a:focus {
    outline: 0 !important;
  }
  
  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  button[disabled] {
    pointer-events: none;
  }
  
  input {
    padding: 0;
  }
  
  input:required {
    box-shadow: none;
  }
  
  input:invalid {
    box-shadow: none;
  }