footer {
    position: fixed;  /* 讓元素的位置是固定的，不會隨著頁面滾動而改變位置*/
    bottom: 0;
    width: 100%;
    height: 6rem; /* 根據您的需求設定高度 */
    background-color: var(--primary-border);
    text-align: center;
}

.content {
    margin: 0.8rem 0;
}

.link {
    background: var(--input-color);
    border: 1px solid var(--link-border);
    border-radius: 18px;
    max-width: 500px;
    margin: auto;
}

.link h3 {
    margin: 0.5rem;
    text-decoration-line: underline;
    color: var(--link-border)
}