header {
    width:100%;
}

.navbar {
    background-color: var(--primary-border);
}

.brand {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin: auto;
}

.toggle {
    position: absolute;
    right: var(--mobile-edge-width);
    top: 15px;
    margin: 0;
    border: none;
}

.collapse {
    margin-left: 1rem;
}

.nav__item {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--nav-text);
    margin: 0.5rem;
}

@media screen and (min-width:768px) {
    .container {
        margin: 0 var(--mobile-edge-width);
    }

    .brand {
        font-size: 30px;
        margin: 0;
    }
}

@media screen and (min-width:991px) {
    .toggle {
        visibility: hidden;
    }
}
