header {
    width:100%;
}

.navbar {
    background-color: var(--primary-border);
}

.logo {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin: auto;
}

.toggle {
    position: absolute;
    right: var(--mobile-edge-width);
    top: 15px;
    margin: 0;
    border: none;
}

.nav__item {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width:768px) {
    .container {
        margin: 0 var(--mobile-edge-width);
    }

    .logo {
        font-size: 30px;
        margin: 0;
    }

    .nav {
        margin: 0 20px;
    }
}

@media screen and (min-width:991px) {
    .toggle {
        visibility: hidden;
    }
}


/* header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-border);;
    z-index: 900;
} */

/* .navbar {
    padding: 1rem 0;
} */

/* .hamburger__input {
    display:none;
} */

/* .hamburger__label {
    position: absolute;
    right: var(--mobile-edge-width);
} */

/* .hamburger__input:checked ~ .nav {
    transform: scale(1, 1);
} */

/* .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 120px;
    background-color: var(--nav-color);
    transition: transform 0.3s ease-out;
    transform: scale(1, 0);
    transform-origin: top;
    color: var(--nav-text);
} */

/* .nav__menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

