.container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.average__wrapper {
    margin: 1rem;
}

.average {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.average h3 {
    margin-bottom: 0.5rem;
}

.total__wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.total {
    display: flex;
    align-items: flex-end;
}

.total h4 {
    margin-bottom: 1px;
}

.total__spending {
    margin-left: 1rem;
}

.avatar__list__wrapper {
    width: 10rem;
    margin: 1rem auto;
}

.avatar__list {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.avatar__list li {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-white);
}

.payment__list__wrapper {
    width: 85%;
    margin: 3rem auto;
}

.line {
    width: 100%;
    border-top: solid 2px var(--line-color);
    margin: 0.5rem 0;
}

.payment__wrapper {
    width: 85%;
    margin: auto;
}

.payment__list {
    display: flex;
    margin-top: 1rem;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary-white);
}

.payment__content {
    width:100%;
}

.payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.pay{
    display: flex;
    align-items: flex-end;
    width: 60px;
}

/* 圓角三角形(default) */
.pay__arrow {
    width: 11px;
    height: 11px;
    border-bottom-left-radius: 5px;
    background-color: var(--nav-text);
    transform: rotate(-30deg) skewX(-30deg) scale(1, .866);
    margin: auto;
    margin-top: 14px;
}

.pay__arrow::before, .pay__arrow::after, .pay__arrow__done::before, .pay__arrow__done::after {
    content: "";
    position: absolute;
    background-color: inherit;
    width: 11px;
    height: 11px;
    border-bottom-left-radius: 5px;
}

.pay__arrow::before, .pay__arrow__done::before {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(-50%, 0);
}

.pay__arrow::after, .pay__arrow__done::after {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0%, 50%);
}

.price {
    width: 50px;
    text-align: end;
}

.checkPayment {
    display: none;
}

label {
    width: 32px;
    height: 33px;
    border-radius: 16px;
    border: 2px solid var(--nav-text);
}

.checkPayment:checked + span {
    display: inline-block;
    position: absolute;
    margin: -5px 10px;
    width: 15px;
    height: 30px;
    border-right: 5px solid var(--done-color);
    border-bottom: 5px solid var(--done-color);
    transform: rotate(40deg);
    stroke-linejoin: round;
}

.payment h3 {
    color: var(--nav-text);
}

.done__payment__list__wrapper {
    display: none;
}

@media screen and (min-width:768px) {
    .container {
        width: 90%;
        margin: 3rem auto;
    }

    .average__container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .total__list__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .avatar__list__wrapper {
        margin: 1rem;
    }

    .payment__List__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .payment__list__wrapper {
        width: 48%;
        margin: 3rem 0;
    }

    .done__payment__list__wrapper {
        display: block;
        width: 48%;
        margin: 3rem 0;
    }
}


