/* modal */

.modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.avatar {
    font-weight: 600;
    font-size: 50px;
    color: var(--primary-white);
    width: 76px;
    height: 76px;
    border-radius: 38px;
    text-align: center;
    text-transform: uppercase;
}

.edit__avatar__icon {
    position: absolute;
    margin: 55px;
    cursor: pointer;
}

.modal__wrapper h2 {
    margin-top: 1rem;
    font-weight: 700;
}

.edit__column input {
    padding: 10px 30px;
    margin: 1rem 0;
    background: var(--input-color); 
    border: solid 1px var(--input-border);
    cursor: pointer;
    border-radius: 5rem;
}

.modal__footer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.modal__footer button {
    border: none;
    font-weight: 600;
    font-size: 22px;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.save__btn {
    background-color: var(--btn-color);
}

.delete__btn {
    color: var(--primary-white);
    background-color: var(--primary-black);
}